
* {
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
    background: url('Images/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
}

body {
    height: 100%;
    width: 100vh;
    font-family: "Poppins",sans-serif;
}

.wrapper {
    width: 100vw;
    margin: 0 auto;
    padding: 125px 120px 50px 120px;
}

.logo {
    display: flex;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.77);
}

.logo .lgo {
    vertical-align: middle;
    padding-right: 15px;
}

.logo a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.77);
}

.logo img {
    padding-top: 1px;
}

.nav-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 3px 11px #BDBDBD;
    border-radius: 35px;
    padding: 0px 15px;
    padding-right: 0;
    position: fixed;
    z-index: 250;
    width: calc(100vw - 240px);
    top: 35px;

    /* Animation */
    animation: fadeDown 1000ms forwards;
    opacity: 0;
}

.nav-desktop .menu-items {
    display: flex;
    list-style: none;
}

.nav-desktop .menu-items  li{
    margin: 0 45px;
}

.nav-desktop .menu-items li:nth-last-child(1) {
    margin-right: 0;
}

.nav-desktop .menu-items  li a{
    text-decoration: none;
    color: black;
    font-family: Poppins;
    font-size: 18px;
    line-height: 27px;
    align-items: center;
    position: relative;
}

.nav-desktop .menu-items li a.active::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background: black;
    left: 0;
    bottom: -15px;
}

.nav-desktop .menu-items li a.btn {
    color: white;
    background: black;
    font-size: bolder;
    padding: 15px 10px;
    border-radius: 35px;
}

.nav-desktop .menu-items li a:hover{
    border-bottom: 3px solid black;
    padding-bottom: 12px;
}

.login {
    transition: all 0.2s ease-in-out;
}

.login:hover {
    transform: translateX(10px);
}

/* Map */

@media (min-width: 1000px) {
    .container { grid-template-columns: calc(100% - 450px) 450px; }  
}


@media (max-width: 800px) {
    .wrapper {padding: 20px 20px 20px 20px; };
}
@media (max-width: 800px) {
    .nav-desktop { display: none; top:0; margin: 0; padding: 0;};
}
@media (max-width: 800px) {
    .map-container {margin-bottom: 5%}
}
@media (max-width: 1000px) {
    .logo {font-size: 24px};
}
@media (max-width: 1000px) {
    .map-container {margin-bottom: 5%}
}


@media (max-height: 550px) {
    .container {grid-template-rows: 100vh};
}
@media (max-height: 600px) {
    .wrapper {padding: 20px 20px 20px 20px; };
}
@media (max-height: 600px) {
    .nav-desktop { display: none; top:0; margin: 0; padding: 0;};
}

.container {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(50%, 100%));

    /* Animation */
    animation: fadeToRight 800ms forwards cubic-bezier(0.22, 0.32, 0, 1.54);
    opacity: 0;
    animation-delay: 600ms;
}

.map-container {
    border-radius: 35px;
    border:5px solid black;

    /* Animation */
    animation: fadeToRight 800ms forwards cubic-bezier(0.22, 0.32, 0, 1.54);
    opacity: 0;
    animation-delay: 100ms;
}

.research-container {
    max-width: 45vw;
    background-color: white;
    border-radius: 15px;
    border-style: solid;
    align-items: center;
    margin: 0 auto;
}

.research-container table {
    justify-content: space-between;
    width: 100%;
    padding-top: 3px;
}

.research-container td {
    padding-left: 1vw;
}

.research-container tbody tr:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: default;
}

.research-container button {
    border: none;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-family: "Poppins",sans-serif;
}

.research-container button:hover {
    cursor: pointer;
}

/* Animations */

@keyframes fadeToRight {
    from {
        opacity:0;
        transform: translateX(-100px);
    }
    to {
        opacity:1;
        transform: translateX(0);
    }
}

@keyframes fadeDown {
    from {
        opacity:0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
